@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    color-scheme: light;
    --text: #000000;
    --text_hover: #000000;
    --bg: #E0E0E0;
}


html {
  filter: invert(0) !important;
}

* {
    margin: 0;
    padding: 0;
  }

  
body {
  overflow-x: hidden;
  line-height: 0;
}


  .bg-custom {
    background-color: var(--bg) !important;
}

/*--------------------------------------*/
  
  .header {
    background-color: var(--bg);
    padding-inline: 16px;
  }
  
  .nav {
    max-width: 5000px;
    height: 100px;
    margin-inline: auto;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 5.5rem;
    padding-bottom: 6rem;
  }
  
  .logo {
    padding-top: 1.2rem;
    padding-left: 2rem;
    user-select: none;
    -webkit-user-drag: none;
  }
  
  .nav-list {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 2rem;
    z-index: 1000;

  }
  
  .nav-list a {
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: var(--text);
    padding-block: 16px;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
  }


  .nav-list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text);
    transition: width 0.3s ease-in-out; /* Transição suave da largura */
  }
  
  .nav-list a:hover::after {
    width: 100%; /* Expande a linha para 100% da largura do link */
  }
  
  .nav-list a.active::after {
    width: 100%; /* Garante que a linha fique visível quando o link estiver ativo */
  }

  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #404040;
    cursor: pointer;
    border-top-color: transparent;
    z-index: 1001;
    padding-right: 0rem;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--text);
    margin-top: 5px;
    position: relative;
    transition: 0.4s;
    border-radius: 10rem;
    z-index: 1001;
  }

  /*----------------------------------------------*/

  .hero {
    width: 100vw;
    height: 87vh; 
    overflow: hidden;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center top;
    user-select: none;
    -webkit-user-drag: none;
}

/*-----------------------------------------*/


footer {
  align-items: center;
  padding: 3rem 3rem 1rem 3rem;
  color: var(--text); /* Cor do texto */
  font-family: "Montserrat", serif;
  font-weight: 300;
}

footer h6 {
  margin: 0; /* Remove margens padrão */
  font-size: 0.8rem; /* Ajusta o tamanho da fonte */
  user-select: none;
  -webkit-user-drag: none;
}

footer a {
  margin: 0; /* Remove margens padrão */
  font-size: 0.8rem; /* Ajusta o tamanho da fonte */
  text-decoration: none;
  color: var(--text); /* Cor do texto */
  user-select: none;
  -webkit-user-drag: none;
}


/*---------------------------------------------------*/
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      z-index: 1;
      padding-right: 0rem;
      padding-top: 1rem;
      z-index: 1001;
    }

    .nav {
      padding-right: 4rem;
    }

  
    .nav-list {
      position: fixed;
      top: 0;
      right: 0; 
      width: 100vw; 
      height: 100vh;
      background-color: var(--bg);
      clip-path: circle(100px at 100% -15%);
      transition: 1s ease-out;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-right: 2rem;
      padding-top: 10rem;
      gap: 5rem;
      pointer-events: none;
      z-index: 1000;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
      text-align: right;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
      z-index: 1000;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 2rem;
      right: 2.3rem;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7.3px;
    }

    /*-------------------------------*/

    .hero {
      height: 100vh;
      height: 60vh;
  }

  .hero img {
      object-position: center top;
      transform: scale(1.2);
  }

  /*------------------*/

  .nav-list a:hover::after {
    width: 0; /* Expande a linha para 100% da largura do link */
  }
  
  .nav-list a.active::after {
    width: 0; /* Garante que a linha fique visível quando o link estiver ativo */
  }

  .nav-list a.active {
    font-weight: 700;
  }
  


  }


  @media (max-width: 550px) {
    .nav {
      padding-right: 3.2rem;
      padding-left: 0.5rem;
    }

    footer {
      flex-direction: column;
      align-items:center;
      text-align: center;
      gap: 0.8rem;
      padding: 2.5rem 1rem 0rem 1rem;
    }

    footer h6 {
      font-size: 0.6rem;
    }
    
    footer a {
      display: none;
    }

    
  


}

@media (prefers-color-scheme: dark) {
  html {
      filter: none !important;
      background-color: var(--bg) !important;
  }
}
